* {
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
}

body, html, #root {
  margin: 0;
  height: 100%;
}

.app {
  display: flex;
  height: 100vh;
  background: #e8f0f8;
}

.sidebar {
  width: 350px;
  background: white;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #eee;
}

.new-btn {
  background: #7b74f9;
  color: rgb(239, 237, 237);
  border: none;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notes-list {
  overflow-y: auto;
  padding: 8px;
}

.note-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.note-item:hover {
  background: #f1f5f9;
}

.note-item.active {
  background: #e0e7ff;
}

.note-title {
  font-size: 16px;
  color: #111827;
  font-weight: 800;
}

.delete-btn {
  background: transparent;
  border: none;
  color: #9ca3af;
  cursor: pointer;
  font-size: 16px;
}

.delete-btn:hover {
  color: #ef4444;
}

.editor {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.title-input {
  border: none;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  outline: none;
  background: transparent;
  color: #111827;
  border-bottom: #74a0f9 2px solid;
}

.content-input {
  flex: 1;
  border: none;
  resize: none;
  font-size: 16px;
  line-height: 1.6;
  outline: none;
  background: transparent;
  color: #111827;
}

.empty {
  color: #9ca3af;
  font-size: 18px;
}